@import "../../css/global.css";

.main {
}
.hero-team {
  width: 505px;
  height: 594px;
  margin-top: 176px;
  margin-left: 547px;
}
.team-image {
  width: 320px;
  height: 320px;
}
.team-neam {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  padding-top: 48px;
}
.team-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 52px;
  opacity: 87%;
}
.team-main {
  max-width: 1600;
  height: 581px;
  background-color: #ecf8f9;
}
.team-shape {
  margin-top: 96px;
  width: 16px;
  height: 16px;
  margin-left: 160px;
}
.team-blog {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-left: 160px;
  padding-top: 19px;
  padding-bottom: 48px;
}

.team-hero-img {
  display: flex;
  width: 624px;
  height: 248px;
  margin-left: 160px;
  border: 1px;
}
/* .team-img {
  width: 296px;
  height: 248px;
  gap: 32px;
}
.team-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  opacity: 60%;
  color: #232536;
}
.team-products {
  padding-top: 108px;
  width: 600px;
  font-size: 24px;
  line-height: 36px;
} */
